<div ComponentName="App.Modules.Auth.Components.LoginForm">

    <Pane name="form-container" shown="true">    
        <TextSpan shown="true" name="form-login-title">#{auth-logincontainer-login-title;Вход в систему}</TextSpan>
        <Forms.Form name="form" shown="true">
            <fields>
                {
                    login: {
                        component: 'Text',
                        desc: '#{auth-loginform-email-desc;Электронная почта}',
                        params: {
                            required: true,
                            readonly: false,
                            validate: [
                                { 
                                    message: '#{auth-loginform-login-validation1;Пожалуйста, введите эл. адрес}',
                                    method: '(field, validator) => !!field.value'
                                },
                                {
                                    message: '#{auth-loginform-login-validation2;Вы вводите некорректный адрес эл. почты. Пожалуйста, попробуйте снова!}',
                                    method: '(field, validator) => field.value.isEmail()'
                                }
                            ]
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    password: {
                        component: 'Password',
                        desc: '#{auth-loginform-password-desc;Пароль}',
                        params: {
                            required: true,
                            readonly: false,
                            validate: [
                                {
                                    message: '#{auth-loginform-password-validation1;Пожалуйста, введите пароль}',
                                    method: '(field, validator) => !!field.value'
                                }
                            ],
                            eyeicon: true                        
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    code: {
                        component: 'Text',
                        desc: '#{auth-loginform-code-desc;Введите код подтверждения}',
                        params: {
                            hidden: true,
                            required: true,
                            readonly: false,
                            validate: [
                                {
                                    message: '#{auth-loginform-code-validation1;Пожалуйста, введите код из 6 цифр, который мы отправили вам на контакт}',
                                    method: '(field, validator) => !!field.value &amp;&amp; field.value.length === 6'
                                }
                            ],
                        },
                        attrs: {
                            width: 480
                        }
                    }
                }
            </fields>
        </Forms.Form>
    </Pane>
    <Pane name="timer-container" shown="true">
        <TextSpan name="timer" shown="false" value="#{auth-login-timer-value;Вы сможете снова запросить код через %s секунд.}" />
        <Link name="request-code-again" shown="false" value="#{auth-login-requestagain;Получить новый код}" />
    </Pane>
    <FlexBox name="links-container" shown="true">
        <Link name="reset" shown="true">#{auth-login-reset;Забыли пароль?}</Link>
    </FlexBox>
    <FlexBox name="button-container" shown="true">            
        <SuccessButton name="login" shown="true" enabled="false" tabIndex="true">#{auth-login-button;Войти}</SuccessButton>
    </FlexBox>
    <FlexBox shown="true" name="button-container2">
        <TextSpan shown="true">#{auth-register-login-text;У вас нет аккаунта?}</TextSpan>
        <Link name="register" shown="true" enabled="true" tabIndex="true">#{auth-register-button;Зарегистрироваться}</Link>
    </FlexBox>

</div>