.app-auth-login-form-component {

    background: #ffffff;
    @if variable-exists($name: auth-login-form-background-color) {
        background: $auth-login-form-background-color;
    }    
    border-radius: 20px;
    @if variable-exists($name: auth-login-form-radius) {
        border-radius: $auth-login-form-radius;
    }
    padding: 55px 90px;
    @if variable-exists($name: auth-login-form-padding) {
        padding: $auth-login-form-padding;
    }

    

}