.app-ui-component.app-auth-login-form-component {

    background: #ffffff;
    @if variable-exists($name: auth-login-form-background-color) {
        background: $auth-login-form-background-color;
    }    
    border-radius: 20px;
    @if variable-exists($name: auth-login-form-radius) {
        border-radius: $auth-login-form-radius;
    }
    padding: 55px 90px;
    @if variable-exists($name: auth-login-form-padding) {
        padding: $auth-login-form-padding;
    }

    &.app-component-shown {
        display: flex;
    }

    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 20px;

    [data-object-name="form-container"] {
        width: 345px;
        .app-form-component {
            width: 345px;
                    
            .app-component-field {
                width: 345px;
            }
        }
    }

    [data-object-name="button-container"] {
        gap: 20px;
    }

    .password-progress {
        width: 100%;
        background: #F3F2F2;
        border-radius: 2px;
        height: 4px;
        span {
            display: block;
            height: 4px;
            border-radius: 2px;
            background: #FD3434;
            min-width: 1%;
            max-width: 100%;
        }
        &.weak span {
            background: #ff7b00;
        }
        &.good span {
            background: #49c7a8;
        }
        &.strong span {
            background: #2b792b;
        }
    }

}