<div ComponentName="App.Modules.Auth.Components.RegisterForm">

    <Pane name="form-container" shown="true">    
        <TextSpan shown="true" name="form-register-title">#{auth-logincontainer-register-title;Регистрация}</TextSpan>
        <Forms.Form name="form" shown="true" shuffleFieldNames="true">
            <fields>
                {
                    email: {
                        component: 'Text',
                        desc: '#{auth-registerform-email-desc;Электронная почта}',
                        params: {
                            required: true,
                            readonly: false,
                            validate: [
                                {
                                    message: '#{auth-registerform-email-validation1;Пожалуйста, введите эл. адрес}',
                                    method: '(field, validator) => !!field.value'
                                },
                                {
                                    message: '#{auth-registerform-email-validation2;Вы вводите некорректный адрес эл. почты. Пожалуйста, попробуйте снова!}',
                                    method: '(field, validator) => field.value.isEmail()'
                                }
                            ]
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    phone: {
                        component: 'Text',
                        desc: '#{auth-registerform-phone-desc;Телефон}',
                        params: {
                            required: true,
                            readonly: false,
                            validate: [
                                {
                                    message: '#{auth-registerform-phone-validation1;Пожалуйста, введите телефон}',
                                    method: '(field, validator) => !!field.value'
                                }
                            ]
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    pass: {
                        component: 'Object',
                        desc: '#{auth-registerform-pass-desc;Пароль}',
                        params: {
                            vertical: true,
                        },
                        fields: {
                            password: {
                                component: 'Password',
                                desc: '#{auth-registerform-password-placeholder;Придумайте пароль}',
                                /* desc: '#{auth-registerform-password-desc;Пароль}', */
                                params: {
                                    required: true,
                                    readonly: false,
                                    eyeicon: true,
                                    tip: {
                                        orientation: [Colibri.UI.ToolTip.LT, Colibri.UI.ToolTip.LB],
                                        text: '#{auth-registerform-password-tip-text;Придумайте пароль, который сложно подобрать}',
                                        success: '#{auth-registerform-password-tip-success;Пароль соотвествует требованиям}',
                                        error: '#{auth-registerform-password-tip-error;Пароль не соответствует требованиям}',
                                        generate: '#{auth-registerform-password-tip-generate;Сгенерировать пароль}',
                                        copied: '#{auth-registerform-password-tip-copied;Пароль скопирован в буфер обмена}',
                                        digits: ['#{auth-registerform-password-tip-digits-1;символ}','#{auth-registerform-password-tip-digits-2;символа}','#{auth-registerform-password-tip-digits-3;символов}'],
                                        additional: [
                                            '#{auth-registerform-password-tip-additional-1;цифры}', 
                                            '#{auth-registerform-password-tip-additional-2;символы (!, $, ^ и др.)}',
                                            '#{auth-registerform-password-tip-additional-3;заглавные латинские буквы}', 
                                            '#{auth-registerform-password-tip-additional-4;строчные латинские буквы}'
                                        ]
                                    },
                                    requirements: {
                                        digits: 8,
                                        strength: 60
                                    },
                                    validate: [
                                        {
                                            message: '#{auth-registerform-password-validation1;Пожалуйста, введите пароль}',
                                            method: '(field, validator) => !!field.value'
                                        },
                                        {
                                            message: '#{auth-registerform-password-validation3;Пароль не соответствует требованиям}',
                                            method: '(field, validator) => validator.form.FindField("pass/password").CalcPasswordStrength() > 60'
                                        }
                                    ]
                                },
                                attrs: {
                                    width: 480
                                }
                            },
                            confirmation: {
                                component: 'Password',
                                desc: '#{auth-registerform-confirmation-placeholder;Повторите пароль}',
                                /* desc: '#{auth-registerform-confirmation-desc;Повторите пароль}', */
                                params: {
                                    required: true,
                                    readonly: false,
                                    eyeicon: true,
                                    validate: [
                                        {
                                            message: '#{auth-registerform-password-validation2;Пожалуйста, повторите пароль}',
                                            method: '(field, validator) => !!field.value'
                                        },
                                        {
                                            message: '#{auth-registerform-confirmation-validation4;Пароли должны совпадать}',
                                            method: '(field, validator) => field.value == validator.form.value.pass.password'
                                        }
                                    ]                  
                                },
                                attrs: {
                                    width: 480
                                }
                            } 
                        }
                    },
                    fio: {
                        component: 'Object',
                        desc: '#{auth-registerform-fio-desc;Личные данные}',
                        params: {
                            vertical: true
                        },
                        fields: {
                            last_name: {
                                component: 'Text',
                                desc: '#{auth-registerform-fio-last_name-placeholder;Фамилия}',
                                params: {
                                    required: true,
                                    readonly: false,
                                    validate: [
                                        {
                                            message: '#{auth-registerform-fio-validation1;Пожалуйста, введите ваше имя}',
                                            method: '(field, validator) => !!field.value'
                                        }
                                    ]                    
                                },
                                attrs: {
                                    width: 480
                                }
                            },
                            first_name: {
                                component: 'Text',
                                desc: '#{auth-registerform-fio-first_name-placeholder;Имя}',
                                params: {
                                    required: true,
                                    readonly: false,
                                    validate: [
                                        {
                                            message: '#{auth-registerform-fio-validation2;Пожалуйста, введите фамилию}',
                                            method: '(field, validator) => !!field.value'
                                        }
                                    ]               
                                },
                                attrs: {
                                    width: 480
                                }
                            },
                            patronymic: {
                                component: 'Text',
                                desc: '#{auth-registerform-fio-patronymic-placeholder;Отчество}',
                                params: {
                                    required: true,
                                    readonly: false           
                                },
                                attrs: {
                                    width: 480
                                }
                            } 
                        }
                    },
                    birthdate: {
                        component: 'Date',
                        desc: '#{auth-registerform-birtdate-desc;Дата рождения}',
                        params: {
                            required: false,
                            readonly: true,
                            validate: [
                                {
                                    message: '#{auth-registerform-birthdate-validation1;Вам слишком мало лет, нашим проектом могут пользоваться только совершеннолетние}',
                                    method: '(field, validator) => !field.value || field.value.toDate().Diff(new Date()) > 18 * 365 * 86400'
                                }
                            ]  
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    gender: {
                        component: 'Select',
                        desc: '#{auth-registerform-gender-desc;Пол}',
                        params: {
                            required: false,
                            readonly: true
                        },
                        selector: {
                            title: 'title',
                            value: 'value'
                        },
                        values: [
                            {value: 'male', title: '#{auth-registerform-gender-values-male;Мужской}'},
                            {value: 'female', title: '#{auth-registerform-gender-values-female;Женский}'},
                        ],
                        attrs: {
                            width: 480
                        }
                    },
                    aggreenment: {
                        component: 'Checkbox',
                        placeholder: '#{auth-registerform-aggreenment-placeholder;Я соглашаюсь с условиями и даю согласие на обработку персональных данных}',
                        params: {
                            required: true,
                            readonly: false,
                            validate: [
                                {
                                    message: '#{auth-registerform-aggreenment-validation1;Вам необходимо подтвердить соглашение на обработку персональных данных и согласие на условия}',
                                    method: '(field, validator) => !!field.value'
                                }
                            ]              
                        },
                        attrs: {
                            width: 480
                        }
                    }
                }
            </fields>
        </Forms.Form>
    </Pane>
    <FlexBox name="button-container" shown="true">            
        <SuccessButton name="register" shown="true" enabled="true" tabIndex="true">#{auth-register-button;Регистрация}</SuccessButton>
    </FlexBox>
    <FlexBox shown="true" name="button-container2">
        <TextSpan shown="true">#{auth-login-register-text;Уже есть аккаунт?}</TextSpan>
        <Link name="login" shown="true" enabled="true" tabIndex="true">#{auth-login-button;Вход}</Link>
    </FlexBox>

</div>