<div ComponentName="App.Modules.Auth.Components.RegisterForm">

    <Pane name="form-container" shown="true">    
        <TextSpan shown="true" name="form-register-title" className="app-auth-form-component-title">#{auth-logincontainer-register-title}</TextSpan>

        <ConfirmationForm shown="true" name="step1" property="phone" width="480" message1="#{auth-logincontainer-confirmation-phone-message}" message2="#{auth-logincontainer-confirmation-phone-message2}" />
        <ConfirmationForm shown="false" name="step2" property="email" width="480" message1="#{auth-logincontainer-confirmation-email-message}" message2="#{auth-logincontainer-confirmation-email-message2}" />  
        
        <Pane shown="false" name="step3">
            <Forms.Form shown="true" name="form">
                <fields>
                    {
                        email_confirmed: {
                            component: 'Checkbox',
                            hidden: true,
                        },
                        phone_confirmed: {
                            component: 'Checkbox',
                            hidden: true
                        },
                        email: {
                            component: 'Text',
                            desc: '#{auth-registerform-email-desc}',
                            params: {
                                required: true,
                                readonly: false,
                                enabled: false,
                                icon: App.Modules.Auth.Icons.Done,
                                className: '-icon-right -icon-green'
                            },
                            attrs: {
                                width: 480
                            } 
                        },
                        phone: {
                            component: 'Text',
                            desc: '#{auth-registerform-phone-desc}',
                            params: {
                                required: true,
                                readonly: false,
                                enabled: false,
                                icon: App.Modules.Auth.Icons.Done,
                                className: '-icon-right -icon-green'
                            },
                            attrs: {
                                width: 480
                            }
                        },
                        pass: {
                            component: 'Object',
                            desc: '#{auth-registerform-pass-desc}',
                            params: {
                                vertical: true
                            },
                            fields: {
                                password: {
                                    component: 'Password',
                                    desc: '#{auth-registerform-password-placeholder}',
                                    /* desc: '#{auth-registerform-password-desc}', */
                                    params: {
                                        required: true,
                                        readonly: false,
                                        eyeicon: true,
                                        tip: {
                                            orientation: [Colibri.UI.ToolTip.RT, Colibri.UI.ToolTip.LT],
                                            className: 'app-password-tip-component',
                                            text: ['#{auth-registerform-password-tip-text}', '#{auth-registerform-password-tip-text2}'],
                                            success: '#{auth-registerform-password-tip-success}',
                                            error: '#{auth-registerform-password-tip-error}',
                                            generate: '#{auth-registerform-password-tip-generate}',
                                            copied: '#{auth-registerform-password-tip-copied}',
                                            digits: '#{auth-registerform-password-tip-digits}',
                                            additional: [
                                                '#{auth-registerform-password-tip-additional-1}', 
                                                '#{auth-registerform-password-tip-additional-2}',
                                                '#{auth-registerform-password-tip-additional-3}', 
                                                '#{auth-registerform-password-tip-additional-4}'
                                            ]
                                        },
                                        requirements: {
                                            digits: 8,
                                            strength: 60
                                        },
                                        validate: [
                                            {
                                                message: '#{auth-registerform-password-validation1}',
                                                method: '(field, validator) => !!field.value'
                                            },
                                            {
                                                message: '#{auth-registerform-password-validation3}',
                                                method: '(field, validator) => validator.form.FindField("pass/password").CalcPasswordStrength() > 60'
                                            }
                                        ]
                                    },
                                    attrs: {
                                        width: 480
                                    }
                                },
                                confirmation: {
                                    component: 'Password',
                                    desc: '#{auth-registerform-confirmation-placeholder}',
                                    /* desc: '#{auth-registerform-confirmation-desc}', */
                                    params: {
                                        required: true,
                                        readonly: false,
                                        eyeicon: true,
                                        validate: [
                                            {
                                                message: '#{auth-registerform-password-validation2}',
                                                method: '(field, validator) => !!field.value'
                                            },
                                            {
                                                message: '#{auth-registerform-confirmation-validation4}',
                                                method: '(field, validator) => field.value == validator.form.value.pass.password'
                                            }
                                        ]                  
                                    },
                                    attrs: {
                                        width: 480
                                    }
                                } 
                            }
                        },
                        aggreenment: {
                            component: 'Checkbox',
                            placeholder: '#{auth-registerform-aggreenment-placeholder}',
                            params: {
                                required: true,
                                readonly: false,
                                validate: [
                                    {
                                        message: '#{auth-registerform-aggreenment-validation1}',
                                        method: '(field, validator) => !!field.value'
                                    }
                                ]              
                            },
                            attrs: {
                                width: 480
                            }
                        }
                    }
                </fields>
            </Forms.Form>
        
            <FlexBox name="button-container" shown="true" className="buttons-pane">            
                <SuccessButton name="register" shown="true" enabled="true" tabIndex="true">#{auth-registerform-complete-button}</SuccessButton>
            </FlexBox>
        
        </Pane>

    </Pane>
    
    <FlexBox shown="true" name="button-container2" className="buttons-pane -gap10">
        <TextSpan shown="true">#{auth-login-register-text}</TextSpan>
        <Link name="login" shown="true" enabled="true" tabIndex="true">#{auth-login-button}</Link>
    </FlexBox>

</div>