<div ComponentName="App.Modules.Auth.Components.ResetForm">

    <Pane name="form-container" shown="true">    
        <TextSpan shown="true" name="form-reset-title">#{auth-logincontainer-reset-title;Восстановление пароля}</TextSpan>
        <Forms.Form name="form" shown="true" shuffleFieldNames="true" />
    </Pane>
    <FlexBox name="button-container" shown="true">            
        <SimpleButton name="login" shown="true" enabled="true" tabIndex="true">#{auth-back-button;Назад}</SimpleButton>
        <SuccessButton name="reset" shown="true" enabled="false" tabIndex="true">#{auth-reset-button;Восстановить}</SuccessButton>
    </FlexBox>

</div>