.app-ui-component.app-auth-reset-form-component {
    width: 600px;

    [data-object-name="form-reset-title"] {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:  #0B1F35;
        margin-bottom: 36px;
        text-align: center;
        &.app-component-shown {
            display: block;
        }

    }
}