<div ComponentName="App.Modules.Auth.Components.ConfirmationForm">

    <Pane name="form-container" shown="true">    

        <Forms.Form name="form1" shown="true" shuffleFieldNames="true">
            <fields>
                {
                    message: {
                        component: 'Label',
                        default: this._message1,
                        params: {
                            className: 'app-auth-info-block -violet -w100'
                        }
                    },
                    property: {
                        component: 'Text',
                        params: {
                            required: true,
                            readonly: false,
                            changeOnKeyPress: true
                        },
                        attrs: {
                            width: '100%'
                        }
                    }
                }
            </fields>
        </Forms.Form>
        <Forms.Form name="form2" shown="false" shuffleFieldNames="true">
            <fields>
                {
                    message: {
                        component: 'Label',
                        default: this._message2
                    },
                    code: {
                        component: 'Text',
                        desc: '#{auth-confirmationform-code-desc}',
                        params: {
                            required: true,
                            readonly: false,
                            changeOnKeyPress: true,
                            validate: [
                                {
                                    message: '#{auth-confirmationform-code-validation1}',
                                    method: '(field, validator) => !!field.value &amp;&amp; field.value.length === 6'
                                }
                            ],
                        },
                        attrs: {
                            width: '100%'
                        }
                    }
                }
            </fields>
        </Forms.Form>
    </Pane>
    <Pane name="timer-container" shown="false">
        <TextSpan name="timer" shown="true" value="#{auth-confirmation-timer-value}" />
        <Link name="request-code-again" shown="false" value="#{auth-confirmation-requestagain}" />
    </Pane>

    <FlexBox name="button-container" shown="true" className="buttons-pane">            
        <SuccessButton name="send" shown="true" enabled="false" tabIndex="true" value="#{auth-confirmationform-code-button}"></SuccessButton>
    </FlexBox>

</div>