.app-ui-component.app-auth-form-component.app-auth-confirmation-form-component {
    
    padding-top: 0px;

    [data-object-name="code-container"] {
        input {
            text-align: center;
        }
    }
    [data-object-name="message-container"] {
        text-align: center;
    }

}