.app-ui-component.app-auth-form-component.app-auth-confirmation-form-component {
    width: 480px;
    padding-top: 0px;

    [data-object-name="code-container"] {
        input {
            text-align: center;
        }
    }
    [data-object-name="message-container"] {
        text-align: center;
    }

    [data-object-name="request-code-again"] {
        font-weight: 700;
    }
}