<div ComponentName="App.Modules.Auth.Components.ConfirmationForm">

    <Pane name="form-container" shown="true">    
        <Forms.Form name="form" shown="true" shuffleFieldNames="true">
            <fields>
                {
                    message: {
                        component: 'Label',
                    },
                    code: {
                        component: 'Text',
                        desc: '#{auth-confirmationform-code-desc}',
                        params: {
                            required: true,
                            readonly: false,
                            validate: [
                                {
                                    message: '#{auth-confirmationform-code-validation1}',
                                    method: '(field, validator) => !!field.value &amp;&amp; field.value.length === 6'
                                }
                            ],
                        },
                        attrs: {
                            width: 480
                        }
                    }
                }
            </fields>
        </Forms.Form>
    </Pane>
    <Pane name="timer-container" shown="true">
        <TextSpan name="timer" shown="true" value="#{auth-confirmation-timer-value}" />
        <Link name="request-code-again" shown="false" value="#{auth-confirmation-requestagain}" />
    </Pane>

</div>