<div ComponentName="App.Modules.Auth.Components.ProfileForm">

    <Pane name="form-container" shown="true">    
        <Forms.Form name="form" shown="true">
            <fields>
                {
                    last_name: {
                        component: 'Text',
                        desc: '#{auth-profileform-last_name-desc;Фамилия}',
                        placeholder: '#{auth-profileform-last_name-placeholder;Например: Иванов}',
                        params: {
                            required: true,
                            readonly: false,
                            validate: [
                                {
                                    message: '#{auth-profileform-last_name-validation1;Пожалуйста, введите вашу фамилию}',
                                    method: '(field, validator) => !!field.value'
                                }
                            ]               
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    first_name: {
                        component: 'Text',
                        desc: '#{auth-profileform-first_name-desc;Имя}',
                        placeholder: '#{auth-profileform-first_name-placeholder;Например: Иван}',
                        params: {
                            required: true,
                            readonly: false,
                            validate: [
                                {
                                    message: '#{auth-profileform-first_name-validation1;Пожалуйста, введите ваше имя}',
                                    method: '(field, validator) => !!field.value'
                                }
                            ]                  
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    patronymic: {
                        component: 'Text',
                        desc: '#{auth-profileform-partonymic-desc;Отчество}',
                        placeholder: '#{auth-profileform-partonymic-placeholder;Например: Иванович}',
                        params: {
                            required: true,
                            readonly: false                        
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    birthdate: {
                        component: 'Date',
                        desc: '#{auth-profileform-birtdate-desc;Дата рождения}',
                        params: {
                            required: false,
                            readonly: true,
                            validate: [
                                {
                                    message: '#{auth-profileform-birthdate-validation1;Вам слишком мало лет, нашим проектом могут пользоваться только совершеннолетние}',
                                    method: '(field, validator) => !field.value || field.value.toDate().Diff(new Date()) > 18 * 365 * 86400'
                                }
                            ]  
                        },
                        attrs: {
                            width: 480
                        }
                    },
                    gender: {
                        component: 'Select',
                        desc: '#{auth-profileform-gender-desc;Пол}',
                        params: {
                            required: false,
                            readonly: true
                        },
                        selector: {
                            title: 'title',
                            value: 'value'
                        },
                        values: [
                            {value: 'male', title: '#{auth-profileform-gender-values-male;Мужской}'},
                            {value: 'female', title: '#{auth-profileform-gender-values-female;Женский}'},
                        ],
                        attrs: {
                            width: 480
                        }
                    }
                }
            </fields>
        </Forms.Form>
    </Pane>
    <FlexBox name="button-container" shown="true">            
        <SuccessButton name="save" shown="true" enabled="false" tabIndex="true">#{auth-profile-button;Сохранить}</SuccessButton>
    </FlexBox>

</div>