.app-modules-auth-components-searchform {
    
    width: 600px;

    [data-object-name="term"] {
        width: 100%;
    }

    [data-object-name="list"] {
        
        [data-object-name="group"] {
            
        }

    }

}